/*Header*/
/*/////*/

header {
    background-color: #ffffff;
    display: block;
    border: 5px solid #ffffff;
    margin: 0;
    height: 105px;
    width: 100%;
}

.logoimg {
    width: 121px;
    height: 70px;
    float: left;
}

.menuimg {
    position: absolute;
    float: left;
    width: 20%;
    height: auto;
}

body {
    background: #E5E5E5;
}

/*Main*/
/*/////*/

iframe {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.bouton {
    width: 289px;
    height: 36px;
    top: 350px;
    background: #F59F00;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5%;
}

.bouton span {
    display: block;
    margin: auto;
}

img {
    width: 90%;
    height: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.owpresentation {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #44486B;

}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    width: 90%;
}

.texte {
    border: 7px solid #F59F00;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: none;
    width: 90%;

}

.titre {
    background: #808080;
    margin-left: 0px;
    width: 100%;
    height: 40px;
    border-left: 7px solid #F59F00;
    border-right: #808080;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titre a {
    text-decoration: none;
}

.titre img {
    width: 84px;
    height: 37.14px;
    display: inline-block;
    float: right;

}

.titre h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.listereseau ul {
    margin: 0;
}

.listereseau ul li {
    display: table-cell;
}

.listereseau img {
    border-radius: 50%;
    width: 70%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.notemaj img {
    width: 35%;
    margin-left: 30px;
    border: none;
    margin-bottom: 20px;
}

.notemaj h1 {
    margin-bottom: 10px;
    margin-left: 35px;
}

/*Footer*/
/*/////*/

footer img {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 60%;
}

.headermenu {
    background: #535D76;
    display: block;
    border: 5px solid #535D76;
    height: 105px;
    width: 100%;
    margin-top: 10%;
}

/*Menu*/
/*/////*/

.menuimg {
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
    font-size: 30px;
    float: top;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-enfant {
    display: none;
    background: #535D76;
    min-width: 50px;
    position: absolute;
    height: 750%;
    width: 300%;
}

.menu-enfant a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.menu:hover .menu-enfant {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #535D76;
}

.menu-enfant li {
    list-style: none;
}

.menu:hover main {
    display: none;
}

.menu-enfant a {
    border-left: 7px solid #F59F00;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.menu-enfant a:hover {
    background-color: #E5E5E5;
}

.menu-enfant img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
}

.menu li {
    margin-right: 20px;
}

.menu ul {
    margin-bottom: 50px;
}
 /*Esport*/

.imgowl{
    width:130px;
    height: auto;
    margin: 15px;
}

.equipesowl{
    display: inline-block;
}

figcaption{
    text-align: center;
}

.equipesowl img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*Notes de mise a jour*/
