header {

    background-color: #ffffff;
    display: block;
    border:1px solid #ffffff;
    margin: 0;
    height: 105px;
}
.header img {
    position: absolute;
    width: 121px;
    height: 70px;
    left: 126px;
    top: 37px;

}
body{
    background: #E5E5E5;
}
.bandeannonce {

    width: 375px;
    height: 175px;
    margin-top: 55px;
}
.bouton1{

    text-align: center;
    width: 289px;
    height: 36px;
    top: 350px;
    background: #F59F00;
}

.bouton2{
    
    text-align: center;
    width: 289px;
    height: 36px;
    top: 400px;
    background: #F59F00;
}

