/* Petits écrans <= 480px */
@media only screen and (max-width: 480px){
    .titre{
        width: 100%;
    }
    body{
        min-width: 350px;
    }
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
}

/* Écrans moyens >= 481px */
@media only screen and (min-width: 481px){
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

}

/* Grands écrans >= 769px */
@media only screen and (min-width: 769px) {


}


/* Très grand écrans >= 1024px */

@media only screen and (min-width: 1024px){

    header, main, footer{
        max-width: 960px;
        margin:0 auto;
    }

}
